
body{
    background-color: red !important;
}


/* .block-test {
    padding: 4.5em 0;
}

@media (min-width: 1200px){
    .block-test ul {
        max-width: 90%;
        margin: 0 auto;
        padding: 0;
    }
    .block-test h1 {
        font-size: 4.4rem;
    }
}

@media (min-width: 640px) {
    .block-test li.test-list-item  {
        width: 50%;
    }
}

@media (min-width: 960px) {
    .block-test li.test-list-item {
        width: 33.33%;
    }
}

.block-test h1 {
    text-align: center;
    font-weight: 300;
}

.block-test ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.block-test li.test-list-item  {
    display: flex;
    min-width: 33.333%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.block-test.has-text-align-center .list-item-content {
    align-items: center;
    text-align: center;
}

.block-test.has-text-align-center .list-item-content img {
    margin-left: auto;
    margin-right: auto;
}

.block-test.has-text-align-right .list-item-content {
    align-items: flex-start;
    text-align: right;
}

.block-test.has-text-align-right .list-item-content img {
    margin-left: auto;
    margin-right: 0;
}

.block-test.has-text-align-left .list-item-content {
    align-items: flex-end;
    text-align: left;
}

.block-test.has-text-align-left .list-item-content img {
    margin-left: 0;
    margin-right: auto;
}

.block-test .list-item-content {
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 100%;
}

.block-test .list-item-content img {
    width: 200px;
    display: block;
    max-width: 100%;
    height: auto;
}

.block-test .list-item-content h3 {
    font-size: 2rem;
    font-weight: 300;
}

.block-test .list-item-content p {
    flex: 1 0 auto;
}

.block-test .list-item-content .button {
    display: inline-block;
    padding: 0.75em;
    background-color: #a70606;
    color: #ffffff;
    text-decoration: none;
    width: 200px;
    max-width: 95%;
    transition: background-color .3s ease;
}

.block-test .list-item-content .button:hover {
    background-color: #790505;
}


section.block-task.has-text-align-left {
    background: red;
} */